<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
  <title><%= current_article.title + ' - ' unless current_article.nil? %>Sugar Pond</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <%= stylesheet_link_tag "sugarpond.css" %>
</head>
<body>

<div class="logo">
  <div id="logo_image" style="display: inline-block; vertical-align: middle;">
    <%= image_tag "sugarpond.png", alt: "Sugar Pond logo" %>
  </div>

  <div class="navigation">
    <ul class="navigation">
      <li><a href="/who">Who?</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>

<div class="pagecontent">
  <%= yield %>
</div>

</body>
</html>