<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
  <title>{{ page.title }} - Sugar Pond</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="/sugarpond.css"/>
</head>
<body>

<div class="logo">
  <div id="logo_image" style="display: inline-block; vertical-align: middle;">
     <img src="/images/sugarpond.png" alt="Sugar Pond logo"/>
  </div>

  <div class="navigation">
    <ul class="navigation">
      <li><a href="/products">Products</a></li>
      <li><a href="/manifesto">Manifesto</a></li>
      <li><a href="/blog">Company blog</a></li>
      <li>Support at <a href="http://getsatisfaction.com/sugarpond">GetSatisfaction.com</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</div>

<div class="pagecontent">
  {{ content }}
</div>

</body>
</html>