---
title: Blog
---

<h2>Sugar Pond blog</h2>

<p>
  <a href="feed://sugarpond.net/atom.xml" class="button">Subscribe via RSS</a>
</p>

<ol class="posts">
  <% blog.articles.each do |article| %>
    <li>
      <h3 style="display: inline;"><%= link_to article.title, article %></h3>
      &mdash;
      <%= article.date.strftime('%b %e, %Y') %>
    </li>
  <% end %>
</ol>
