---
title: Who?
---

<h2>Who is Sugar Pond?</h2>

<p>Sugar Pond is the Nat Budin&#39;s little one-man software development side project.  Nat develops a few apps, mostly to support the live action roleplaying hobby.  Nat enjoys talking about himself in the third person.</p>

<h3>What has Sugar Pond ever done for us?</h3>

<p>Well, here&#39;s a list.  Possibly incomplete and out-of-date.</p>

<ul>
<li><a href="https://www.journeysurveys.com">Journey</a> - a simple yet powerful online survey tool.  Once a commercial product, now donation-supported.</li>
<li><a href="http://vellum.aegames.org">Vellum</a> - a collaborative writing tool designed for the needs of freeform larp writers.</li>
<li><a href="https://github.com/nbudin/illyan">Illyan</a> - an account management app and CAS server.  Used for single sign on at <a href="https://accounts.sugarpond.net">Sugar Pond Account Central</a>.</li>
<li><a href="https://github.com/nbudin/procon">ProCon</a> - a convention management and registration app created for Brandeis University&#39;s Festival of the LARPs.</li>
<li><a href="http://ponzi.natbudin.com">Ponzi</a> - a very basic debt tracker for roommates.</li>
</ul>